#/etc/systemd/system/gv.service
[Unit]
Description=gunicorn daemon for growingvision
Requires=gv.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/growing
ExecStart=/var/www/pyenv/growing/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          main_app.wsgi:application

[Install]
WantedBy=multi-user.target
